# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# CodeMapper specific outputs (we don't want to commit generated maps of the test repo)
*.map.txt
codemap.json

# Internal Strategy & Marketing (Do not push to public GitHub)
MARKETING_COPY.md
PRODUCT_STRATEGY.md
ROADMAP.md
